<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
</head>
<body>
<nav>

</nav>
<div class="row">
    <h1 class="col-6" style="text-align: center">Your Cart</h1>
</div>


<ul class="list-group mt-5" id="cartList"  style="padding-left: 300px;padding-right: 300px">

</ul>

<ul class="list-group mt-5" id="cartTotal"  style="padding-left: 300px;padding-right: 300px">

</ul>
</body>
</html>