<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choco Factory|Login</title>
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="/loginFront.js"></script>
</head>
<body>
<div class="container">
    <h1 style="font-family: Arial;padding-top: 200px;padding-left: 475px">Sign In</h1>
    <form action="/user/login" method="post">
        <div class="form-row mt-4" style="padding-left: 350px">
            <input class="form-control" type="text" name="username" placeholder="Enter username" style="width: 400px">
        </div>
        <div class="form-row mt-4" style="padding-left: 350px">
            <input class="form-control" type="password" name="password" placeholder="Enter password" style="width: 400px">
        </div>
        <div class="row mt-4" style="padding-left: 500px">
            <input type="submit" class="btn btn-success" value="Sign In" id="signin">
        </div>
    </form>
</div>

<div class="row" style="padding-left: 520px;padding-top: 20px">
    <div class="col-6">
        <a href="/user/signup">Don't have an account? Sign Up</a>
    </div>
</div>

</body>
</html>